@model 客戶資料
@*@{
    Layout = null;
}*@
<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 30%;
            width: 30%
        }
    </style>
</head>
<body>
    <div id="map" style="height:343px"></div>
    <script>

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: @Model.lat, lng: @Model.lng},
    zoom: 12
  });
}

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2s4YPihahyCr2rIGZ97-dUQllkEgb-vU&callback=initMap"
            async defer></script>
</body>
</html>